* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
}
.section__padding {
    margin: 3rem 4rem;
}

.bgDark {
    width: 100vw;
    bottom: -6px;
    position: relative;
    z-index: 1;
}
.bgDark img {
    width: 100%;
}