@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;
  --font-body: 'Open Sans', sans-serif;

  --color-pink: hsl(322, 100%, 66%);
  --color-light-pink : hsl(321, 100%, 78%);
  --color-light-red: hsl(0, 100%, 63%);
  --color-dark-cyan: hsl(192, 100%, 9%);
  --color-pale-blue: hsl(207, 100%, 98%);
}
